<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="archhazi.spaceshooter" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="archhazi.spaceshooter.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="archhazi.spaceshooter.GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_single_player"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="archhazi.spaceshooter.GameOverActivity"
            android:label="@string/title_activity_end_of_track" >
        </activity>
        <activity
            android:name="archhazi.spaceshooter.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="archhazi.spaceshooter.LobbyActivity"
            android:label="@string/title_activity_lobby"
            android:noHistory="true"
            android:parentActivityName="archhazi.spaceshooter.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="archhazi.spaceshooter.MainMenuActivity" />
        </activity>
        <activity
            android:name="archhazi.spaceshooter.HighScoresActivity"
            android:label="@string/title_activity_high_scores"
            android:parentActivityName="archhazi.spaceshooter.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="archhazi.spaceshooter.MainMenuActivity" />
        </activity>
    </application>

</manifest>
